/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{

    font-family:Arial,sans-serif;

    background:#050816;

    color:white;

    overflow-x:hidden;
}

/* VIDEO */

#bg-video{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:0.45;

    z-index:-2;
}

/* OVERLAY */

.overlay{

    position:fixed;

    inset:0;

    background:
    linear-gradient(
        135deg,
        rgba(0,0,0,0.45),
        rgba(5,8,22,0.65)
    );

    z-index:-1;
}

/* NAVBAR */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px 80px;
}

/* LOGO */

.logo{

    display:flex;

    align-items:center;

    gap:15px;

    font-size:24px;

    font-weight:bold;
}

.logo svg{

    width:35px;
    height:35px;

    color:#541A1A;
}

/* LINKS */

.nav-links{

    display:flex;

    gap:40px;
}

.nav-links a{

    color:#cbd5e1;

    text-decoration:none;

    transition:0.3s;
}

.nav-links a:hover{

    color:#541A1A;
}

/* HERO */

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;

    min-height:80vh;
}

/* LEFT */

.hero-left{

    max-width:700px;
}

/* BADGE */

.badge{

    display:inline-flex;

    align-items:center;

    gap:10px;

    background:
    #810B38

    border:
    1px solid #934761

    padding:12px 20px;

    border-radius:999px;

    margin-bottom:30px;

    color:#810B38;
}

/* TITLE */

.hero h1{

    font-size:72px;

    line-height:1.1;

    margin-bottom:25px;
}

/* DESCRIPTION */

.hero p{

    color:#cbd5e1;

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;
}

/* FEATURES */

.features{

    display:flex;

    gap:20px;
}

/* FEATURE CARD */

.feature-card{

    background:
    rgba(255,255,255,0.08);

    border:
    1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    padding:20px 25px;

    border-radius:20px;

    display:flex;

    align-items:center;

    gap:12px;

    transition:0.3s;
}

.feature-card:hover{

    transform:translateY(-5px);

    border-color:#810B38;
}

.feature-card svg{

    color:#810B38;
}

/* SEARCH CARD */

.search-card{

    width:420px;

    background:
    rgba(255,255,255,0.08);

    border:
    1px solid rgba(255,255,255,0.1);

    backdrop-filter:blur(25px);

    border-radius:35px;

    padding:40px;

    box-shadow:
    0 0 40px rgba(0,0,0,0.5);
}

/* HEADER */

.card-header{

    display:flex;

    gap:20px;

    align-items:center;

    margin-bottom:40px;
}

/* ICON BOX */

.icon-box{

    width:70px;
    height:70px;

    border-radius:20px;

    background:
    #DCC3AA

    display:flex;

    justify-content:center;

    align-items:center;
}

.icon-box svg{

    width:30px;
    height:30px;

    color:#DCC3AA;
}

/* CARD TITLE */

.card-header h2{

    font-size:32px;
}

.card-header p{

    margin-top:8px;

    color:#94a3b8;
}

/* FORM */

form{

    display:flex;

    flex-direction:column;

    gap:20px;
}

/* INPUT */

input{

    background:
    rgba(0,0,0,0.35);

    border:
    1px solid rgba(255,255,255,0.1);

    padding:20px;

    border-radius:18px;

    color:white;

    font-size:16px;
}

input:focus{

    outline:none;

    border-color:#810B38;
}

/* BUTTON */

button{

    margin-top:10px;

    background:#810B38;

    border:none;

    padding:20px;

    border-radius:18px;

    color:white;

    font-size:18px;

    font-weight:bold;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    transform:translateY(-3px);

    background:#541A1A;
}

/* RESULT */

.result-container{

    padding:0 80px 80px 80px;
}

/* SECTION TITLE */

.section-title{

    font-size:28px;

    margin-top:40px;
    margin-bottom:25px;

    color:#810B38;

    font-weight:bold;
}

/* RESULT CARD */

.invoice-result{

    background:
    rgba(255,255,255,0.08);

    border:
    1px solid rgba(255,255,255,0.1);

    backdrop-filter:blur(20px);

    border-radius:30px;

    padding:40px;

    margin-top:50px;
}

/* RESULT TITLE */

.invoice-result h2{

    margin-bottom:30px;

    font-size:36px;
}

/* GRID */

.invoice-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(240px,1fr));

    gap:20px;

    margin-bottom:40px;
}

/* INFO CARD */

.info-card{

    background:
    rgba(255,255,255,0.06);

    padding:25px;

    border-radius:20px;
}

.info-card h3{

    color:#810B38;

    margin-bottom:10px;
}

.info-card p{

    line-height:1.6;
}

/* TABLE */

.table-container{

    overflow:auto;

    margin-top:30px;
}

table{

    width:100%;

    border-collapse:collapse;
}

th{

    background:#810B38;

    color:white;

    padding:18px;

    text-align:left;
}

td{

    padding:18px;

    border-bottom:
    1px solid rgba(255,255,255,0.1);
}

tr:hover{

    background:
    rgba(255,255,255,0.05);
}

/* ERROR */

.error-box{

    background:#7f1d1d;

    padding:20px;

    border-radius:20px;

    margin-top:30px;
}

/* LOADING */

.loading{

    background:
    rgba(255,255,255,0.08);

    padding:25px;

    border-radius:20px;

    margin-top:30px;

    text-align:center;
}
.validation-box{

    margin-bottom:40px;

    background:
    rgba(16,185,129,0.12);

    border:
    1px solid rgba(16,185,129,0.3);

    padding:35px;

    border-radius:25px;
}

.validation-score{

    font-size:55px;

    font-weight:bold;

    color:#F1E2D1;

    margin-top:15px;
}

.validation-status{

    margin-top:15px;

    font-size:20px;
}

.section-title{

    margin-top:40px;

    margin-bottom:20px;

    font-size:28px;

    font-weight:bold;

    color:#F1E2D1;
}