PORT=3000
DB_SERVER=
DB_PORT=1433
DB_DATABASE=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
N8N_DOCUMENT_WEBHOOK=
BACKEND_CALLBACK_URL=
UPLOAD_DIRECTORY=/shared/input

FRONTEND_URL=http://localhost:5173

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

GOOGLE_CLIENT_ID=
